.country-link {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .country-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 300px;
    display: inline-block;
  }
  .country-image {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 767px) {
    .country-card {
      height: 300px;
    }
  
    .country-image {
      height: 150px;
    }


  }
